// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group{ 
    display: flex; flex-direction: column;  
}

#outer{ 
   display: flex; justify-content: space-around  
}

a.yes{
    color:green
}

a.no{
    color:red
}

a.whatever{
    color:gray
}